{% extends "/templates/template.html" %}

{% block title %}Input information about grid costs{% endblock %}

{% block main %}

<div class="container">

    <h4>Please input costs payable to the grid operator</h4>
    <hr>
           
        <form action="/setup" method="POST">

            <div class="row">
                <div class="form-group col-md-2">
                        <label>Fixed monthly cost based on fuse size</label> 
                        <br>
                        <input type="number" class="form-control" name="fixedmontlycost" placeholder="450" step="1" >
                </div>
            </div> 
            <div class="row">
                <div class="form-group col-md-2">
                        <label>Fixed cost per kWh</label> 
                        <br>
                        <input type="number" class="form-control" name="fixedkwhcost" placeholder="0.715" step=".005" >
                </div>
            </div>           
            <div class="row">
                <div class="form-group col-md-2">
                        <label>Peak kWh cost</label> 
                        <br>
                        <input type="number" class="form-control" name="S" placeholder="81.25" step=".005" >
                </div>
            </div>                        
            
        <button type="submit" class="btn btn-primary">Save</button>
        <br>
        <br>
        
        <input type="submit" class="btn btn-primary" name="action" value="Use 405 SEK & 0.67 SEK/kWh">
        &nbsp;&nbsp;
        <input type="submit" class="btn btn-primary" name="action" value="Use 450 SEK & 0.715 SEK/kWh">
        &nbsp;&nbsp;
        <input type="submit" class="btn btn-primary" name="action" value="Use 365 SEK & 0.49125 SEK/kWh & 81.25">

        </form>
       
</div>


{% endblock %}