{% extends "/templates/template.html" %}

{% block title %}Consumption a given day{% endblock %}

{% block main %}

<div class="container">
    <form action="/updateday" method="POST">
        <h4>Please select date to view</h4>        
        Select date:
        <input type="date" id="chosendate" name="chosendate2">

        <input type="submit" class="btn btn-primary" name="action" value="View selected date">

    <br>
    <br>
    <div class="row">
        <div class="col">

            <h4>Consumption and cost on {{chosendate}}</h4>
            <table style="width:100%">
                <tr><th>From</th><th>To</th><th>Price (SEK/kWh)</th><th>Consumption (kWh)</th><th>Of this house (kWh)</th><th>Of this EV charging (kWh)</th><th>Total cost (SEK)</th><th>Cost house (SEK)</th><th>Cost EV (SEK)</th></tr>
                {% for d in data%}
                <input type="hidden" name="start{{d[10]}}" value="{{d[1]}}" /><tr><td>{{d[1]}}</td><td><input type="hidden" name="stop{{d[10]}}" value="{{d[2]}}" />{{d[2]}}</td><td><input type="hidden" name="price{{d[10]}}" value="{{d[3]}}" />{{d[3]}}</td><td><input type="number" style="text-align: center;" class="form-control" name="cons{{d[10]}}" step=".001" value="{{d[4]}}"></td><td>{{d[6]}}</td><td><input type="number" style="text-align: center;" class="form-control" name="cons_ev{{d[10]}}" step=".01" value="{{d[7]}}"></td><td>{{d[5]}}</td><td>{{d[8]}}</td><td>{{d[9]}}</td></tr>
                {% endfor %}
                <tr><td><b>Sum</b></td><td><b></b></td><td></td><td><b>{{aggr[0][1]}}</b></td><td><b>{{aggr[0][3]}}</b></td><td><b>{{aggr[0][4]}}</b></td><td><b>{{aggr[0][2]}}</b></td><td><b>{{aggr[0][5]}}</b></td><td><b>{{aggr[0][6]}}</b></td></tr>               
            </table>

        </div>
    </div>
    <br>

    <input type="submit" class="btn btn-primary" name="action" value="Update">
    <input type="hidden" name="chosendate" value="{{chosendate}}" />

    </form>

</div>


{% endblock %}